/* для лого
position: absolute;
left: 50%;
transform: translateX(-50%);
*/
html,
body {
  min-width: 1200px;
  min-height: 2762px;
}
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
.main-navigation {
  line-height: 26px;
  font-weight: bold;
}
.advantages-header p,
.tag,
.hotel-search-title,
.result h3,
.hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.advantages-header h3,
.developer-name {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}
.advantage-blue {
  width: 400px;
  height: 256px;
  color: #ffffff;
  background-color: #81b3d2;
}
.advantage-gray {
  background-color: #eeeeee;
}
.advantages h2 {
  font-size: 21px;
  font-weight: bold;
}
.call-to-action h3 {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}
.call-to-action p {
  line-height: 24px;
}
.hotel-search-title {
  width: 568px;
  height: 86px;
  color: #ffffff;
  font-weight: bold;
  background-color: #766357;
}
.hotel-search-form {
  width: 568px;
  height: 395px;
  font: inherit;
  line-height: 26px;
  font-weight: bold;
  background-color: #ffffff;
}
.hotel-search-form input {
  width: 346px;
  height: 38px;
  font-weight: bold;
  background-color: #f2f2f2;
}
.search-link {
  width: 458;
  height: 58;
  font-weight: bold;
  background-color: #81b3d2;
}
.main-footer {
  width: 1200;
  height: 120;
  background-color: #ffffff;
}
.index-footer {
  opacity: 0.5;
}
.social-icon {
  width: 46;
  height: 48;
  background-color: #81b3d2;
}
.search-form h2 {
  font: inherit;
  font-size: 16px;
  font-weight: bold;
}
.sorting {
  font-size: 12px;
  line-height: 18px;
}
.button-details {
  width: 110;
  height: 27;
  background-color: #81b3d2;
  font-weight: bold;
}
.button-book {
  width: 142;
  height: 27;
  background-color: #766357;
  font-weight: bold;
}
.rating {
  width: 110;
  height: 27;
  background-color: #f2f2f2;
}
.visually-hidden {
  visibility: hidden;
}
.main-navigation {
  display: flex;
  width: 100%;
  background-color: #ffffff;
}
.logo {
  display: flex;
  width: 138px;
  height: 70px;
}
.site-navigation {
  display: flex;
  justify-content: space-between;
  width: 1056px;
  margin: 0 auto;
  padding: 20px 0;
  list-style: none;
}
.taglines {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 62px;
  padding: 0;
  width: 1200px;
  height: 508px;
  background-color: #ffffff;
}
.advantages-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 56px;
  padding: 0;
  width: 1200px;
  background-color: #ffffff;
}
.advantages-header p {
  margin: 0;
  padding: 0 380px;
  margin-bottom: 29px;
}
.advantages-header h3 {
  margin: 0;
  padding: 0;
}
.container-lifestyle {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #81b3d2
}
.advantage-blue {
  width: 400px;
  margin: 0;
  padding: 0;
}
.container-lifestyle h2 {
  margin: 0;
  padding: 0;
  padding: 47px 138px 24px;
}
.container-lifestyle span {
  margin: 0;
  padding: 0;
}
.container-lifestyle p {
  margin: 0;
  padding: 0;
  padding: 24px 59px 62px;
}
.city-view-img {
  display: flex;
  justify-content: flex-end;
  width: 1200px;
  height: 256px;
  margin: 0 auto;
  padding: 0;
  background-color: #81b3d2;
}
.container-advantage-white {
  display: flex;
  justify-content: center;
  width: 1200px;
  min-height: 330px;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff
}
.advantage-white {
  width: 400px;
  margin: 0;
  padding: 0;
}
.house img {
  display: flex;
  justify-content: center;
  width: 75px;
  height: 72px;
  margin: 0 auto;
  padding: 0;
  padding: 60px 163px 29px 162px;
  background-color: #ffffff;
}
.house h2 {
  margin: 0;
  padding: 0;
}
.house p {
  margin: 0;
  padding: 0;
  padding: 25px 75px 85px 73px;
}
.meal img {
  display: flex;
  justify-content: center;
  width: 74px;
  height: 70px;
  margin: 0 auto;
  padding: 0;
  padding: 61px 165px 30px 161px;
  background-color: #ffffff;
}
.meal h2 {
  margin: 0;
  padding: 0;
}
.meal p {
  margin: 0;
  padding: 0;
  padding: 25px 59px 85px 57px;
}
.gift img {
  display: flex;
  justify-content: center;
  width: 64px;
  height: 76px;
  margin: 0 auto;
  padding: 0;
  padding: 56px 168px 29px;
  background-color: #ffffff;
}
.gift h2 {
  margin: 0;
  padding: 0;
}
.gift p {
  margin: 0;
  padding: 0;
  padding: 25px 63px 85px 65px;
}


.container-lifestyle {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #81b3d2
}
.advantage-blue {
  width: 400px;
  margin: 0;
  padding: 0;
}
.container-lifestyle h2 {
  margin: 0;
  padding: 0;
  padding: 47px 138px 24px;
}
.container-lifestyle span {
  margin: 0;
  padding: 0;
}
.container-lifestyle p {
  margin: 0;
  padding: 0;
  padding: 24px 59px 62px;
}
.city-view-img {
  display: flex;
  justify-content: flex-end;
  width: 1200px;
  height: 256px;
  margin: 0 auto;
  padding: 0;
  background-color: #81b3d2;
}
