html,
body {
  min-width: 1200px;
  min-height: 2762px;
}
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffffff;
}
main {
  position: relative;
}
a {
  text-decoration: none;
}
.site-navigation {
  line-height: 16px;
  font-weight: bold;
}
.advantages-header p,
.tag,
.hotel-search-title,
.result h3,
.hotel-name,
.search-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.advantages-header h3,
.developer-name {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}
.advantage-blue {
  width: 400px;
  height: 256px;
  color: #ffffff;
  background-color: #81b3d2;
}
.advantage-gray {
  background-color: #eeeeee;
}
.advantages h2 {
  font-size: 21px;
  font-weight: bold;
}
.call-to-action h3 {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}
.call-to-action p {
  line-height: 24px;
}
.hotel-search-title {
  width: 568px;
  height: 86px;
  color: #ffffff;
  font-weight: bold;
  background-color: #766357;
}
.hotel-search-form {
  width: 568px;
  height: 395px;
  font: inherit;
  line-height: 26px;
  font-weight: bold;
  background-color: #ffffff;
}
.hotel-search-form input {
  width: 346px;
  height: 38px;
  font-weight: bold;
  background-color: #f2f2f2;
}
.search-link {
  width: 458;
  height: 58;
  font-weight: bold;
  background-color: #81b3d2;
}
.main-footer {
  width: 1200;
  height: 120;
  background-color: #ffffff;
}
.index-footer {
  opacity: 0.9;
}
.footer-social li {
  width: 46;
  height: 48;
  background-color: #81b3d2;
}
.search-form h2 {
  font: inherit;
  font-size: 16px;
  font-weight: bold;
}
.sorting {
  font-size: 12px;
  line-height: 18px;
}
.button-details {
  width: 110;
  height: 27;
  background-color: #81b3d2;
  font-weight: bold;
}
.button-book {
  width: 142;
  height: 27;
  background-color: #766357;
  font-weight: bold;
}
.rating {
  width: 110;
  height: 27;
  background-color: #f2f2f2;
}
.visually-hidden {
  display: none;
}
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
.site-navigation {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
}
.logo {
  display: block;
  text-align: center;
  width: 240px;
  position: absolute;
  z-index: 2;
}
.logo img {
  width: 138px;
  height: 70px;
}
.info-nav {
  display: block;
  width: 240px;
  margin: 0 auto;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 72px;
  text-align: left;
}
.photo-nav {
  display: block;
  width: 240px;
  margin: 0 auto;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 240px;
  text-align: center;
}
.map-nav {
  display: block;
  width: 240px;
  margin: 0 auto;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.hotel-nav {
  display: block;
  width: 240px;
  margin: 0 auto;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 72px;
  text-align: right;
}
.taglines {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 62px;
  width: 1200px;
  background-color: #ffffff;
  position: relative;
  top: 0;
}
.advantages-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 56px;
  background-color: #ffffff;
}
.advantages-header p {
  margin: 0;
  padding: 0 380px 29px;
}
.advantages-header h3 {
  margin: 0;
  padding: 0;
}
.container-lifestyle {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #81b3d2;
}
.advantage-blue {
  width: 400px;
  margin: 0;
  padding: 0;
}
.container-lifestyle h2 {
  margin: 0;
  padding: 0;
  padding: 47px 138px 24px;
}
.container-lifestyle span {
  margin: 0;
  padding: 0;
}
.container-lifestyle p {
  margin: 0;
  padding: 0;
  padding: 24px 59px 62px;
}
.city-view-img img {
  display: block;
  justify-content: flex-end;
  width: 800px;
  height: 256px;
  margin: 0 auto;
  padding: 0;
  background-color: #81b3d2;
}
.container-advantage-white {
  display: flex;
  justify-content: center;
  box-sizing: content-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.advantage-white {
  width: 400px;
  margin: 0;
  padding: 0;
}
.house img {
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto;
  padding: 0;
  padding: 60px 163px 29px 162px;
  background-color: #ffffff;
  text-align: center;
}
.house h2 {
  margin: 0;
  padding: 0;
}
.house p {
  margin: 0;
  padding: 0;
  padding: 25px 75px 85px 73px;
}
.meal img {
  display: block;
  width: 74px;
  height: 70px;
  margin: 0 auto;
  padding: 0;
  padding: 61px 165px 30px 161px;
  background-color: #ffffff;
  text-align: center;
}
.meal h2 {
  margin: 0;
  padding: 0;
}
.meal p {
  margin: 0;
  padding: 0;
  padding: 25px 59px 85px 57px;
}
.gift img {
  display: block;
  width: 64px;
  height: 76px;
  margin: 0 auto;
  padding: 0;
  padding: 56px 168px 29px;
  background-color: #ffffff;
  text-align: center;
}
.gift h2 {
  margin: 0;
  padding: 0;
}
.gift p {
  margin: 0;
  padding: 0;
  padding: 25px 63px 85px 65px;
}
.container-bridge {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #81b3d2;
}
.bridge-img {
  display: block;
  width: 800px;
  height: 256px;
  margin: 0 auto;
  padding: 0;
  background-color: #81b3d2;
}
.container-bridge h2 {
  margin: 0;
  padding: 0;
  padding: 46px 125px 24px;
}
.container-bridge span {
  margin: 0;
  padding: 0;
}
.container-bridge p {
  margin: 0;
  padding: 0;
  padding: 26px 49px 62px;
}
.container-advantage-gray {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #eeeeee;
}
.advantage-gray {
  width: 400px;
  margin: 0;
  padding: 0;
}
.square h2 {
  margin: 0;
  padding: 0;
  padding: 47px 142px 24px 141px;
}
.square span {
  margin: 0;
  padding: 0;
}
.square p {
  margin: 0;
  padding: 0;
  padding: 26px 97px 61px 95px;
}
.road h2 {
  margin: 0;
  padding: 0;
  padding: 47px 150px 24px;
}
.road span {
  margin: 0;
  padding: 0;
}
.road p {
  margin: 0;
  padding: 0;
  padding: 26px 66px 61px 70px;
}
.tourists h2 {
  margin: 0;
  padding: 0;
  padding: 47px 151px 24px 150px;
}
.tourists span {
  margin: 0;
  padding: 0;
}
.tourists p {
  margin: 0;
  padding: 0;
  padding: 26px 70px 61px;
}
.call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}
.container-call-to-action {
  width: 568px;
  margin: 0;
  padding: 0;
}
.call-to-action h3 {
  margin: 0;
  padding: 0;
  padding: 53px 135px 27px 136px;
}
.call-to-action p {
  margin: 0;
  padding: 0;
  padding: 0 66px 50px;
}
.hotel-search-title {
  display: block;
  width: 568px;
  margin: 0;
  padding: 0;
  padding: 32px 139px 30px;
}
.container-hotel-search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-image: url("img/map.jpg");
  background-color: #ffffff;
  position: relative;
}
.hotel-search-form {
  display: block;
  width: 568px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  position: absolute;
  top: 0;
}
.map {
  display: block;
  width: 1200px;
  margin: 0;
  padding: 0;
}
.hotel-search-form p:first-child {
  margin: 0;
  padding: 0;
  padding-top: 67px;
  padding-bottom: 51px;
}
.hotel-search-form p:nth-child(2) {
  margin: 0;
  padding: 0;
  padding-bottom: 52px;
}
.hotel-search-form p:nth-child(3) {
  margin: 0;
  padding: 0;
  padding-bottom: 64px;
}
.hotel-search-form p:last-child {
  width: 458px;
  margin: 0 auto;
  padding: 0;
}
.adult {
  width: 114px;
}
.search-link {
  display: block;
  padding-top: 17px;
  padding-bottom: 17px;
}
.main-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.container-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}
.tag {
  width: 400px;
  margin: 0;
  padding: 0;
  padding-left: 132px;
  text-align: left;
}
.footer-social {
  display: flex;
  justify-content:space-around;
  align-items: center;
  width: 400px;
  margin: 0;
  padding: 0;
}
.container-twitter {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}
.container-fb {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}
.container-youtube {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}
.footer-social li {
  list-style: none;
}
.copyright {
  display: flex;
  justify-content: flex-end;
  width: 400px;
  margin: 0;
  padding: 0;
  padding-right: 101px;
}
.copyright span {
  margin-right: 8px;
}
.copyright a {
  display: flex;
  align-items: center;
}
