html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html, body {
  min-width: 1200px;
  background-color: #f2f2f2;
}

.container-body {
  width: 1200px;
  margin: auto;
  -webkit-box-shadow: 0 0 15px 5px #e1e1e1;
  box-shadow: 0 0 15px 5px #e1e1e1;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

a {
  text-decoration: none;
}

.site-navigation {
  line-height: 16px;
  font-weight: bold;
}

.advantages-header p, .tag, .inner-tag, .hotel-search-title, .result h3, .hotel-name, .search-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.advantages-header h3, .developer-name {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}

.advantage-blue {
  width: 400px;
  color: #ffffff;
  background-color: #81b3d2;
}

.advantage-gray {
  background-color: #eeeeee;
}

.advantages h2 {
  font-size: 21px;
  font-weight: bold;
}

.call-to-action h3 {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.call-to-action p {
  line-height: 24px;
}

.hotel-search-title {
  width: 568px;
  color: #ffffff;
  font-weight: bold;
  background-color: #766357;
}

.hotel-search-form {
  width: 568px;
  font: inherit;
  line-height: 26px;
  font-weight: bold;
  background-color: #ffffff;
}

.hotel-search-form input {
  width: 346px;
  font-weight: bold;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.search-link {
  width: 458;
  font-weight: bold;
  background-color: #81b3d2;
}

.footer-social li {
  width: 46;
  background-color: #81b3d2;
}

.search-form h2, .filter-range-title {
  font: inherit;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff
}

.search-form div {
  font: inherit;
  color: #ffffff
}

.sorting {
  font-size: 12px;
  line-height: 18px;
}

.button-details {
  width: 110px;
  background-color: #81b3d2;
  font-weight: bold;
}

.button-book {
  width: 142px;
  background-color: #766357;
  font-weight: bold;
}

.rating {
  width: 110px;
  background-color: #f2f2f2;
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-navigation a:link {
  color: #000000;
}

.site-navigation a:visited {
  color: #000000;
}

.site-navigation a.active:link, .site-navigation a.active:visited {
  color: #766357;
}

.site-navigation a:hover, .site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #b2b2b2;
}

.hotel-name a:link, .hotel-name a:visited {
  color: #000000;
}

.hotel-name a:hover, .hotel-name a:focus {
  color: #81b3d2;
}

.hotel-name a:active {
  color: #cacaca;
}

a.button-details:link, a.button-details:visited {
  color: #ffffff;
  background-color: #81b3d2;
}

a.button-details:hover, a.button-details:focus {
  color: #ffffff;
  background-color: #669ec0;
}

a.button-details:active {
  color: #88b6d1;
  background-color: #5496bd;
}

a.button-book:link, a.button-book:visited {
  color: #ffffff;
  background-color: #766357;
}

a.button-book:hover, a.button-book:focus {
  color: #ffffff;
  background-color: #604e43;
}

a.button-book:active {
  color: #766860;
  background-color: #503e33;
}

.tag a:link, .inner-tag a:link, .tag a:visited, .inner-tag a:visited {
  color: #000000;
}

a.hotel-search-title:link, a.hotel-search-title:visited {
  color: #ffffff;
  background-color: #766357;
}

a.hotel-search-title:hover, a.hotel-search-title:focus {
  color: #ffffff;
  background-color: #604e43;
}

a.hotel-search-title:active {
  color: #857871;
  background-color: #503e33;
}

a.search-link:link, a.search-link:visited {
  color: #ffffff;
  background-color: #81b3d2;
}

a.search-link:hover, a.search-link:focus {
  color: #ffffff;
  background-color: #669ec0;
}

a.search-link:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.twitter a {
  background-color: #81b3d2;
  background-image: url("../img/twitter-icon.svg");
}

.twitter span {
  display: block;
  vertical-align: middle;
  text-align: center;
  width: 17px;
  height: 15px;
  background-repeat: no-repeat;
}

.twitter a:link, .twitter a:visited {
  background-image: url("../img/twitter-icon.svg");
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center;
}

.twitter a:hover, .twitter a:focus {
  background-image: url("../img/twitter-icon.svg");
  background-color: #669ec0;
  background-repeat: no-repeat;
  background-position: center;
}

.twitter a:active {
  background-image: url("../img/twitter-icon.svg");
  opacity: 0.5;
  background-color: #5496bd;
  background-repeat: no-repeat;
  background-position: center;
}

.fb a {
  background-color: #81b3d2;
  background-image: url("../img/fb-icon.svg");
}

.fb span {
  display: block;
  vertical-align: middle;
  text-align: center;
  width: 17px;
  height: 15px;
  background-repeat: no-repeat;
}

.fb a:link, .fb a:visited {
  background-image: url("../img/fb-icon.svg");
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center;
}

.fb a:hover, .fb a:focus {
  background-image: url("../img/fb-icon.svg");
  background-color: #669ec0;
  background-repeat: no-repeat;
  background-position: center;
}

.fb a:active {
  background-image: url("../img/fb-icon.svg");
  opacity: 0.5;
  background-color: #5496bd;
  background-repeat: no-repeat;
  background-position: center;
}

.youtube a {
  background-color: #81b3d2;
  background-image: url("../img/youtube-icon.svg");
}

.youtube span {
  display: block;
  vertical-align: middle;
  text-align: center;
  width: 17px;
  height: 15px;
  background-repeat: no-repeat;
}

.youtube a:link, .youtube a:visited {
  background-image: url("../img/youtube-icon.svg");
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center;
}

.youtube a:hover, .youtube a:focus {
  background-image: url("../img/youtube-icon.svg");
  background-color: #669ec0;
  background-repeat: no-repeat;
  background-position: center;
}

.youtube a:active {
  background-image: url("../img/youtube-icon.svg");
  opacity: 0.5;
  background-color: #5496bd;
  background-repeat: no-repeat;
  background-position: center;
}

.calendar span {
  display: block;
  width: 21px;
  height: 22px;
  background-repeat: no-repeat;
}

button.calendar:link, button.calendar:visited {
  background-image: url("../img/calendar.png");
  background-repeat: no-repeat;
}

button.calendar:hover, button.calendar:focus {
  outline: none;
  background-image: url("../img/calendar-hover.png");
  background-repeat: no-repeat;
}

button.calendar:active {
  background-image: url("../img/calendar-active.png");
  background-repeat: no-repeat;
}

.plus span {
  display: block;
  width: 11px;
  height: 11px;
  background-repeat: no-repeat;
}

button.plus:link, button.plus:visited {
  background-image: url("../img/plus.png");
  background-repeat: no-repeat;
}

button.plus:hover, button.plus:focus {
  outline: none;
  background-image: url("../img/plus-hover.png");
  background-repeat: no-repeat;
}

button.plus:active {
  background-image: url("../img/plus-active.png");
  background-repeat: no-repeat;
}

.plus-child span {
  display: block;
  width: 11px;
  height: 11px;
  background-repeat: no-repeat;
}

button.plus-child:link, button.plus-child:visited {
  background-image: url("../img/plus.png");
  background-repeat: no-repeat;
}

button.plus-child:hover, button.plus-child:focus {
  outline: none;
  background-image: url("../img/plus-hover.png");
  background-repeat: no-repeat;
}

button.plus-child:active {
  background-image: url("../img/plus-active.png");
  background-repeat: no-repeat;
}

.minus span {
  display: block;
  width: 12px;
  height: 3px;
  background-repeat: no-repeat;
}

button.minus:link, button.minus:visited {
  background-image: url("../img/minus.png");
  background-repeat: no-repeat;
}

button.minus:hover, button.minus:focus {
  outline: none;
  background-image: url("../img/minus-hover.png");
  background-repeat: no-repeat;
}

button.minus:active {
  background-image: url("../img/minus-active.png");
  background-repeat: no-repeat;
}

.minus-child span {
  display: block;
  width: 12px;
  height: 3px;
  background-repeat: no-repeat;
}

button.minus-child:link, button.minus-child:visited {
  background-image: url("../img/minus.png");
  background-repeat: no-repeat;
}

button.minus-child:hover, button.minus-child:focus {
  outline: none;
  background-image: url("../img/minus-hover.png");
  background-repeat: no-repeat;
}

button.minus-child:active {
  background-image: url("../img/minus-active.png");
  background-repeat: no-repeat;
}

.container-search-form input[type="checkbox"] {
  position: absolute;
  z-index: 2;
  border: 0;
  background: none;
}

::before {
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
}

.container-search-form label {
  display: inline-block;
  vertical-align: middle;
}

.container-search-form span {
  display: block;
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  background-position: left;
}

.container-search-form input[type="checkbox"]~label::before {
  display: block;
  width: 27px;
  height: 23px;
  content: "";
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: left;
  cursor: pointer;
}

.container-search-form input[type="checkbox"]:checked~label::before {
  display: block;
  width: 27px;
  height: 23px;
  content: "";
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: left;
  cursor: pointer;
}

.container-search-form input[type="checkbox"]:disabled~label::before {
  display: block;
  width: 27px;
  height: 23px;
  content: "";
  background-image: url("../img/checkbox-off-block.svg");
  background-repeat: no-repeat;
  background-position: left;
  cursor: pointer;
}

.container-search-form input[type="checkbox"]:checked:disabled~label::before {
  display: block;
  width: 27px;
  height: 23px;
  content: "";
  background-image: url("../img/checkbox-on-block.svg");
  background-repeat: no-repeat;
  background-position: left;
  cursor: pointer;
}

.sorting a:link, .sorting a:visited {
  color: #b2b2b2;
  border-bottom: 1px dotted #81b3d2;
}

.sorting a:hover, .sorting a:focus {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sorting a.active:link, .sorting a.active:visited {
  color: #81b3d2;
  border-bottom: none;
}

.sorting a:active {
  color: #000000;
  border-bottom: none;
}

.up a {
  display: block;
  width: 11px;
  height: 10px;
  margin-top: 5px;
  background-image: url("../img/icon-up-dir-static.png");
}

.up a:link, .up a:visited {
  background-image: url("../img/icon-up-dir-static.png");
}

.up a:hover, .up a:focus {
  background-image: url("../img/icon-up-dir.png");
}

.up a:active {
  background-image: url("../img/icon-up-dir-click.png");
}

.down a {
  display: block;
  width: 11px;
  height: 10px;
  margin-top: 5px;
  background-image: url("../img/icon-down-dir-static.png");
}

.down a:link, .down a:visited {
  background-image: url("../img/icon-down-dir-static.png");
}

.down a:hover, .down a:focus {
  background-image: url("../img/icon-down-dir.png");
}

.down a.active:link, .down a.active:visited {
  background-image: url("../img/icon-down-dir-click.png");
}

.down a:active {
  background-image: url("../img/icon-down-dir-click.png");
}

.copyright a {
  display: block;
  width: 115px;
  height: 41px;
  margin-top: 5px;
  background-image: url("../img/logo-htmlacademy.png");
}

.copyright a:link, .copyright a:visited {
  background-image: url("../img/logo-htmlacademy.png");
}

.copyright a:hover, .copyright a:focus {
  background-image: url("../img/logo-htmlacademy-hover.png");
}

.copyright a:active {
  background-image: url("../img/logo-htmlacademy-active.png");
}

.hotel-search-form input:link {
  color: #000000;
  background-color: transparent;
}

.hotel-search-form input:hover {
  color: #000000;
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}

.hotel-search-form input:focus {
  outline: none;
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

button.btn-transparent:link, button.btn-transparent:visited {
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
}

button.btn-transparent:hover {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #ffffff;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  position: relative;
}

.main-logo {
  display: block;
  text-align: center;
  width: 240px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 2;
}

.logo img {
  width: 138px;
  height: 70px;
}

.info-nav {
  display: block;
  width: 300px;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 72px;
  text-align: left;
}

.photo-nav {
  display: block;
  width: 300px;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 13px;
  text-align: left;
}

.map-nav {
  display: block;
  width: 300px;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 16px;
  text-align: right;
}

.hotel-nav {
  display: block;
  width: 300px;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 72px;
  text-align: right;
}

.taglines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  background-color: #81b3d2;
  position: relative;
  top: 0;
}

.advantages-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 51px;
  background-color: #ffffff;
}

.advantages-header p {
  margin: 0;
  padding: 61px 380px 26px;
}

.advantages-header h3 {
  margin: 0;
  padding: 0;
}

.container-lifestyle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #81b3d2;
}

.advantage-blue {
  width: 400px;
  margin: 0;
  padding: 0;
}

.container-lifestyle h2 {
  margin: 0;
  padding: 0;
  padding: 47px 138px 24px;
}

.container-lifestyle span {
  margin: 0;
  padding: 0;
}

.container-lifestyle p {
  margin: 0;
  padding: 0;
  padding: 20px 55px 60px;
}

.city-view-img {
  position: relative;
  overflow: hidden;
  width: 800px;
  background-color: #81b3d2;
}

.city-view-img img {
  display: block;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  width: 1200px;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.container-advantage-white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.advantage-white {
  width: 400px;
  margin: 0;
  padding: 0;
}

.house img {
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto;
  padding: 0;
  padding: 60px 163px 29px 162px;
  background-color: #ffffff;
  text-align: center;
}

.house h2 {
  margin: 0;
  padding: 0;
}

.house p {
  margin: 0;
  padding: 0;
  padding: 23px 70px 81px 70px;
}

.meal img {
  display: block;
  width: 74px;
  height: 70px;
  margin: 0 auto;
  padding: 0;
  padding: 61px 165px 30px 161px;
  background-color: #ffffff;
  text-align: center;
}

.meal h2 {
  margin: 0;
  padding: 0;
}

.meal p {
  margin: 0;
  padding: 0;
  padding: 23px 50px 81px 50px;
}

.gift img {
  display: block;
  width: 64px;
  height: 76px;
  margin: 0 auto;
  padding: 0;
  padding: 56px 168px 29px;
  background-color: #ffffff;
  text-align: center;
}

.gift h2 {
  margin: 0;
  padding: 0;
}

.gift p {
  margin: 0;
  padding: 0;
  padding: 23px 60px 81px 60px;
}

.container-bridge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #81b3d2;
}

.bridge-img {
  position: relative;
  overflow: hidden;
  width: 800px;
  background-color: #81b3d2;
}

.bridge-img img {
  display: block;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.container-bridge h2 {
  margin: 0;
  padding: 0;
  padding: 46px 111px 24px;
}

.container-bridge span {
  margin: 0;
  padding: 0;
}

.container-bridge p {
  margin: 0;
  padding: 0;
  padding: 20px 45px 60px;
}

.container-advantage-gray {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #eeeeee;
}

.advantage-gray {
  width: 400px;
  margin: 0;
  padding: 0;
}

.square h2 {
  margin: 0;
  padding: 0;
  padding: 47px 142px 24px 138px;
}

.square span {
  margin: 0;
  padding: 0;
}

.square p {
  margin: 0;
  padding: 0;
  padding: 21px 95px 58px 93px;
}

.road h2 {
  margin: 0;
  padding: 0;
  padding: 47px 150px 24px;
}

.road span {
  margin: 0;
  padding: 0;
}

.road p {
  margin: 0;
  padding: 0;
  padding: 20px 65px 58px 65px;
}

.tourists h2 {
  margin: 0;
  padding: 0;
  padding: 47px 151px 24px 150px;
}

.tourists span {
  margin: 0;
  padding: 0;
}

.tourists p {
  margin: 0;
  padding: 0;
  padding: 21px 65px 58px;
}

.call-to-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.container-call-to-action {
  width: 568px;
  margin: 0;
  padding: 0;
}

.call-to-action h3 {
  margin: 0;
  padding: 0;
  padding: 53px 135px 22px 136px;
}

.call-to-action p {
  margin: 0;
  padding: 0;
  padding: 0 66px 47px;
}

.hotel-search-title {
  display: block;
  width: 568px;
  margin: 0;
  padding: 0;
  padding: 32px 139px 28px;
}

.container-hotel-search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-image: url(https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d437556.2660392638!2d-111.66392946251113!3d34.85510500354368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872da132f942b00d%3A0x5548c523fa6c8efd!2z0KHQtdC00L7QvdCwLCDQkNGA0LjQt9C-0L3QsCA4NjMzNiwg0KHQqNCQ!5e0!3m2!1sru!2sru!4v1523045710321);
  background-color: #ffffff;
  position: relative;
}

.hotel-search-form {
  display: block;
  width: 568px;
  margin: 0;
  padding: 55px 55px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.hotel-search-form p {
  position: relative;
}

.hotel-search-form button {
  background: none;
  cursor: pointer
}

.hotel-search-form button.plus {
  position: relative;
}

.hotel-search-form button.plus-child {
  position: relative;
}

.hotel-search-form button.minus {
  position: relative;
}

.hotel-search-form button.minus-child {
  position: relative;
}

.map iframe {
  width: 1200px;
  height: 586px;
  border: none;
  background-color: #cbdda9;
}

.map {
  display: block;
  width: 1200px;
  margin: 0;
  padding: 0;
}

.hotel-search-form p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  position: relative;
}

.hotel-search-form p:first-child {
  margin: 0;
  padding: 0;
  padding-bottom: 29px;
}

.hotel-search-form p:nth-child(2) {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}

.hotel-search-form p:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.hotel-search-form input {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 9px;
  width: 114px;
  height: 38px;
  text-align: center;
}

.hotel-search-form input:nth-child(2) {
  margin: 0;
  padding: 0;
  padding-left: 13px;
  padding-top: 5px;
  padding-bottom: 4px;
  text-align: left;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  width: 346px;
  height: 38px;
}

.hotel-search-form .plus {
  position: absolute;
  z-index: 2;
  border: none;
  background-image: url("../img/plus.png");
  background-repeat: no-repeat;
  left: 50%;
  top: 50%;
  transform: translate(-50% -50%);
  width: 20px;
  height: 20px;
}

.hotel-search-form .plus-child {
  position: absolute;
  z-index: 2;
  border: none;
  background-image: url("../img/plus.png");
  background-repeat: no-repeat;
  left: 50%;
  top: 50%;
  transform: translate(-50% -50%);
  width: 20px;
  height: 20px;
}

.hotel-search-form .minus {
  position: absolute;
  z-index: 2;
  border: none;
  background-image: url("../img/minus.png");
  background-repeat: no-repeat;
  left: 50%;
  top: 50%;
  transform: translate(-50% -50%);
  width: 20px;
  height: 20px;
}

.hotel-search-form .minus-child {
  position: absolute;
  z-index: 2;
  border: none;
  background-image: url("../img/minus.png");
  background-repeat: no-repeat;
  left: 50%;
  top: 50%;
  transform: translate(-50% -50%);
  width: 20px;
  height: 20px;
}

.hotel-search-form .calendar {
  position: absolute;
  border: none;
  background-image: url("../img/calendar.png");
  background-repeat: no-repeat;
  right: 0;
  top: 8px;
  width: 30px;
  height: 30px;
}

.container-adult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 226px;
  position: relative;
}

.container-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 179px;
  position: relative;
}

.search-link {
  display: inline-block;
  vertical-align: middle;
  width: 458px;
  background-color: #81b3d2;
  padding-top: 17px;
  padding-bottom: 15px;
  margin-top: 52px;
}

.main-footer {
  width: 1200px;
  position: absolute;
  bottom: 0;
  background-color: #ffffff;
  opacity: 0.9;
}

.inner-footer {
  width: 1200px;
  background-color: #ffffff;
}

.container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.tag {
  display: inline-block;
  width: 400px;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  margin-top: 45px;
  margin-bottom: 48px;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 400px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social li {
  margin-right: 8px;
}

.footer-social a {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 46px;
  height: 48px;
  margin: 0;
  background-color: #81b3d2;
}

.footer-social a span {
  vertical-align: middle;
  margin: 0 auto;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 400px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}

.copyright span {
  margin-right: 8px;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #81b3d2;
  background-image: url("../img/search-form-cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container-search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 1200px;
}

.infrastructure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 327px;
  padding-left: 72px;
  padding-top: 27px;
  padding-bottom: 10px;
}

.infrastructure h2 {
  display: block;
  text-align: left;
  padding: 0;
  margin: 0;
  padding-bottom: 25px;
}

.pool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.parking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.wifi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.infrastructure label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
}

.housing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 485px;
  padding-left: 0;
  padding-top: 19px;
}

.housing h2 {
  display: block;
  text-align: left;
  padding: 0;
  margin: 0;
  padding-bottom: 25px;
}

.hotels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.motels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.apartments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.housing label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
}

.filter-range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 318px;
  margin: 0;
  padding: 0;
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 21px;
  font: inherit;
}

.filter-range-title {
  display: block;
  text-align: left;
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
}

.price-range {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-range::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.price-range label {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 30px;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
}

.price-range .min-price, .price-range .max-price {
  width: 120px;
  margin-left: 23px;
}

.price-range input {
  width: 40px;
  height: 32px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 10px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  margin-left: 82px;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.result-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.result h3 {
  display: block;
  width: 236px;
  margin: 0;
  padding: 0;
  padding-top: 31px;
  padding-left: 72px;
  text-align: left;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 857px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.sorting h3 {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 36px;
  padding-right: 40px;
  padding-bottom: 30px;
  text-align: left;
  font-size: 12px;
  line-height: 18px;
}

.sorting ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 700px;
  margin: 0;
  padding: 0;
  padding-top: 36px;
  list-style: none;
}

.sorting li {
  padding-right: 34px;
}

.up-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 107px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.up-down ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 34px;
  list-style: none;
}

.up-down li {
  padding-right: 11px;
}

.amara {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 1200px;
  margin: 0 auto;
  padding-right: 72px;
  padding-bottom: 30px;
  padding-left: 72px;
  background-color: #ffffff;
  border-top: 2px solid #f2f2f2;
}

.hotel-image {
  height: 90px;
  width: 135px;
  margin-right: 30px;
  margin-top: 30px;
}

.container-amara {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 780px;
  margin: 0;
  padding: 0;
}

.container-amara h1 {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 28px;
  padding-bottom: 6px;
  text-align: left;
}

.hotel-description-amara {
  display: inline-block;
  vertical-align: top;
  margin-right: 35px;
}

.buttons span {
  display: inline-block;
  vertical-align: top;
  margin-right: 2px;
  margin-top: 16px;
}

.button-details {
  padding: 6px 17px 5px;
}

.button-book {
  padding: 6px 17px 5px;
}

.container-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 111px;
  margin: 0;
  padding: 0;
}

.container-stars-number {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  padding: 0;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 45px;
}

.stars-number {
  margin-left: 2px;
}

.rating {
  display: inline-block;
  vertical-align: bottom;
  padding: 0;
  margin: 0;
}

.desert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 1200px;
  margin: 0 auto;
  padding-right: 72px;
  padding-bottom: 30px;
  padding-left: 72px;
  background-color: #ffffff;
  border-top: 2px solid #f2f2f2;
}

.container-desert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 780px;
  margin: 0;
  padding: 0;
}

.hotel-description-desert {
  display: inline-block;
  vertical-align: top;
  margin-right: 62px;
}

.container-desert h1 {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 28px;
  padding-bottom: 6px;
  text-align: left;
}

.villas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 1200px;
  margin: 0 auto;
  padding-right: 72px;
  padding-bottom: 30px;
  padding-left: 72px;
  background-color: #ffffff;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
}

.container-villas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 780px;
  margin: 0;
  padding: 0;
}

.container-villas h1 {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 6px;
  text-align: left;
}

.hotel-description-villas {
  display: inline-block;
  vertical-align: top;
  margin-right: 18px;
}